.App {
  text-align: center;
}

.about {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100vh;
}

#converter {
  margin-top: 5px;
  background-color: lightgrey;
  /* height: 100vw; */
}

.left {
  padding-top: 300px;
  background-color:#ffb6c1;
  height: 100vh;
  width: 100vh;
}

.left input {
  position: relative;
  z-index: 1;
}
.right input {
  position: relative;
  z-index: 1;
}
.right {
  background-color: #b6e6ff;
  padding-top: 300px;
  height: 100vh;
  width: 100vh;

}
.aboutText {
  margin-top: 200px;
  /* border: 2px solid black; */
  margin-left: 15px;
  margin-right: 15px;
}
.aboutText p, h3 {
  text-align: left;
}

.aboutButtons {
  margin-top: 100px;
}

.aboutButtons Button {
  margin-right: 20px;
  background-color: lightgrey;
  border-color: black;
  color: black;
  font-weight: bold;
}