.App {
  text-align: center;
}

#converter {
  padding-top: 5px;
  background-color: lightgrey;

}
.container {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 50px;
  height: 100vh;
}

.left {
  background-color:#ffb6c1;
}

.left input {
  position: relative;
  z-index: 1;
}
.right input {
  position: relative;
  z-index: 1;
}
.right {
  background-color: #b6e6ff;
}