.App {
  text-align: center;
}

.about {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100vh;
}

#converter {
  margin-top: 5px;
  background-color: lightgrey;
  /* height: 100vw; */
}

.left {
  padding-top: 300px;
  background-color:#ffb6c1;
  height: 100vh;
}

.left input {
  position: relative;
  z-index: 1;
}
.right input {
  position: relative;
  z-index: 1;
}
.right {
  background-color: #b6e6ff;
  padding-top: 300px;

}